/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 26, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../scss/_reset.scss */
nav ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 52, ../scss/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 58, ../scss/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 64, ../scss/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 67, ../scss/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 71, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 76, ../scss/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 84, ../scss/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 5, ../scss/_style.scss */
html {
  font-size: 62.5%;
}

/* line 9, ../scss/_style.scss */
body {
  background: #fffffa;
  font-size: 62.5%;
}

/* line 14, ../scss/_style.scss */
.circles {
  width: 56rem;
  height: 56rem;
  background: #fffffa;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.1s;
}
/* line 25, ../scss/_style.scss */
.circles div {
  height: 99%;
  width: 99%;
  position: relative;
  transform: translateX(1.4%) translateY(1.4%);
  border-radius: 50%;
  border: 0.1rem solid rgba(42, 192, 240, 0.2);
  transition: all 0.3s;
}
/* line 38, ../scss/_style.scss */
.circles .about {
  border: none;
  opacity: 0;
  font-size: 2rem;
  transition: opacity 0.3s;
}
/* line 44, ../scss/_style.scss */
.circles .about .macro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  border: none;
}
/* line 57, ../scss/_style.scss */
.circles:hover div {
  transform: translateX(0.7%) translateY(0.7%);
}
/* line 63, ../scss/_style.scss */
.circles:hover .about {
  opacity: 1;
}
@keyframes dance {
  0% {
    transform: translateX(0.7%) translateY(0.5%);
  }
  25% {
    transform: translateX(0.75%) translateY(0.3%);
  }
  50% {
    transform: translateX(0%) translateY(-0.1%);
  }
  75% {
    transform: translateX(-0.1%) translateY(0.6%);
  }
  100% {
    transform: translateX(0.7%) translateY(0.5%);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 97, ../scss/_style.scss */
  ::i-block-chrome, .circles div {
    height: 98.8%;
    width: 98.8%;
    top: 1.2%;
    left: 1.2%;
  }
}
@media only screen and (max-width: 1160px) {
  /* line 109, ../scss/_style.scss */
  .work {
    right: 5%;
  }
}
@media only screen and (max-width: 960px) {
  /* line 116, ../scss/_style.scss */
  .work {
    right: 0;
    top: initial;
    left: 10%;
    bottom: 0;
    height: 25rem;
  }

  /* line 124, ../scss/_style.scss */
  .circles {
    width: 40rem;
    height: 40rem;
  }

  /* line 129, ../scss/_style.scss */
  .circles div {
    top: .6%;
    left: .6%;
  }

  /* line 134, ../scss/_style.scss */
  ::i-block-chrome, .circles div {
    height: 99%;
    width: 99%;
    top: 1%;
    left: 1%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 146, ../scss/_style.scss */
  .circles {
    width: 30rem;
    height: 30rem;
  }

  /* line 151, ../scss/_style.scss */
  .circles div {
    top: 0.5%;
    left: 0.45%;
  }

  /* line 156, ../scss/_style.scss */
  .work {
    top: 36rem;
    width: 55%;
  }

  /* line 161, ../scss/_style.scss */
  ::i-block-chrome, .circles div {
    height: 99%;
    width: 99%;
    top: 1%;
    left: 1%;
  }
}
